<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cafe JSON</title>
    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>


    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../js/app.js"></script>
  </head>
  <header>
      <img src="http://i.giphy.com/ChhPZvR5BPUSQ.gif">      <h1>Café JSON</h1>
   </header>
   
  <body> 
  
    <section class="container"><a href="/">Back to Home</a>
      <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <h2>Coffee Info</h2>
            <ul>
              <li>Coffee Name: {{beanName}} </li>
              <li>Origin: {{beanOrigin}}</li>
              <li>Body: {{beanBody}}</li>
              <li>Roast: {{beanRoast}}</li>
              <li>Acidity: {{beanAcidity}}</li>
              <li>Flavor: {{beanFlavor}}</li>
              <hr>
            </ul>
  
  <ul id="cafeList" style="list-style-type:none">
    <h3>Served at the following locations:</h3>
      {{#each beanLocations}}
    <ul class="cafe" data-id="{{_id}}">
    <li>Cafe Name: {{cafeName}}</li>
    <li>Cafe City: {{cafeCity}}</li>
    <li>URL: <a href="{{cafeUrl}}">{{cafeUrl}}</a></li></ul><br> 
    <button id="deleteButton" name="deleteButton" class="btn btn-warning" data-id="{{_id}}">Remove</button>
    <hr>
    {{/each}} 
  </ul>


  <section id='cafe-form' class="container" data-id "{{_id}}">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
       <form class="form-horizontal" id='newCafe'>
         <fieldset>
           <!-- Form Name -->
           <legend>Add A New Cafe</legend>
           <!-- Text input-->
            <div class="form-group">
            <label class="col-md-4 control-label" for="cafeName">Cafe Name</label>
            <div class="col-md-4">
             <input id="cafeName" name="cafeName" type="text" placeholder="" class="form-control input-md" required="">
      </div>
    </div>

           <!-- Text input-->
         <div class="form-group">
            <label class="col-md-4 control-label" for="cafeCity">Cafe City</label>
              <div class="col-md-4">
              <input id="cityCity" name="cafeCity" type="text" placeholder="" class="form-control input-md">
             </div>
        </div>

           <!-- Text input-->
           <div class="form-group">
             <label class="col-md-4 control-label" for="cafeUrl">URL</label>
             <div class="col-md-4">
             <input id="cafeUrl" name="cafeUrl" type="text" class="form-control input-md">
             </div>
           </div>

           <!-- Button -->
           <div class="form-group">
             <label class="col-md-4 control-label" for="singlebutton">Save New Cafe</label>
            <div class="col-md-4">
              <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
            </div>
           </div>
         </fieldset>
       </form>
     </div>
   </section>
<br><hr>
<footer><p>Kehontas Rowe | November 2015</button></footer> 
</body>
</html>