 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

<html>
<body>
<div class="jumbotron">   
    
      <div class="container">
      <h1>Cafe JSON</h1>
    </div>
   </div>
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Coffee Info</h2>
  <ul>
    <li>Coffee Name: {{user.username}}</li>
    <li>Roast: {{user.firstName}} {{user.lastName}}</li>
    <li>Body: {{user.age}}</li>
    <li>Acidity: {{user.age}}</li>
    <li>Flavor: {{user.age}}</li>
    <li>Served at the following locations:</li>
  </ul>
</body>
</html>